@font-face {
  font-family: "Rflex-bold";
  src: url("fonts/RFlexBold-VGzLZ.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Rflex";
  src: url("fonts/RFlexRegular-JRJ8j.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

:root {
  --color-text: #fff;
  --color-primary: linear-gradient(
    180deg,
    #5561ff 0%,
    #3643fc 100%,
    #3643fc 100%
  );
  --color-secondary: rgba(255, 255, 255, 0.1);
  --color-primary-hover: linear-gradient(180deg, #6b75ff 0%, #535fff 100%);
  --color-primary-active: linear-gradient(180deg, #4b4fa0 0%, #44488b 100%);
  --color-secondary-hover: linear-gradient(180deg, #b9bcd9 0%, #989bc1 100%);
  --color-secondary-active: linear-gradient(180deg, #4f5275 0%, #45475a 100%);
  --color-ghost: #323347;
  --color-tertiary: #323347;
  --color-tertiary-hover: #3b3b52;
  --color-tertiary-active: #272836;
  --color-primary-long: linear-gradient(
    180deg,
    #5561ff 0%,
    #3643fc 100%,
    #3643fc 100%
  );
  --border-radius: 12px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #323347;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

a {
  text-decoration: none;
}
.container {
  padding: 6rem 10rem;
}

/* Typography */

h1 {
  color: var(--color-text);
  font-family: "Rflex-bold", "Open Sans", sans-serif;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 76.8px;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}

/* Grids */
.grid {
  display: grid;
  grid-template-rows: repeat(3, 250px);
  grid-template-columns: repeat(4, 250px);
}

.hehe {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 10px;
}

/* Buttons */
.buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.btn {
  border-radius: var(--border-radius);
  color: var(--color-text);
  cursor: pointer;
  height: 48px;
  width: 186px;
  border: 0;
  outline: 0;
  white-space: nowrap;
  transition: ease-out all 150ms;
}

.btn--primary {
  background: var(--color-primary);
}

.btn--primary:hover {
  background: var(--color-primary-hover);
  box-shadow: 2px 8px 20px #111;
}

.btn--primary:active {
  background: var(--color-primary-active);
  box-shadow: none;
}

.btn--secondary {
  background: var(--color-secondary);
}

.btn--secondary:hover {
  background: var(--color-secondary-hover);
  box-shadow: 2px 8px 20px #111;
}

.btn--secondary:active {
  background: var(--color-secondary-active);
  box-shadow: none;
}
.btn--ghost {
  background: var(--color-ghost);
  border: 3px solid #6e7198;
}
.btn--ghost:hover {
  border: 3px solid #b9bcd9;
}
.btn--ghost:active {
  border: 3px solid #4f5275;
}
.btn--tertiary {
  background: var(--color-tertiary);
}
.btn--tertiary:hover {
  background: var(--color-tertiary-hover);
  box-shadow: 2px 8px 20px #111;
}
.btn--tertiary:active {
  background: var(--color-tertiary-active);
}

.btn--tall {
  background: var(--color-secondary);
  height: 224px;
  width: 186px;
}
.btn--tall:hover {
  box-shadow: 2px 8px 20px #111;
}

.btn--tall:active {
  box-shadow: none;
}

.btn--primary-long {
  height: 48px;
  width: 392px;
}

.btn--circle {
  background: var(--color-secondary);
  border-radius: 36px;
  height: 48px;
  width: 48px;
}
.btn--circle:hover {
  border: 3px solid #b9bcd9;
}

.btn--secondary-long {
  background: var(--color-secondary);
  height: 48px;
  width: 324px;
}
.btn--secondary-long:hover {
  border: 3px solid #b9bcd9;
}

.btn--icon {
  text-align: center;
}
.btn--icon > img,
.btn--icon > span {
  vertical-align: middle;
}
.btn--icon > img {
  margin-right: 5px;
}

/* Input Text Fields */

/* .input {
  margin: 40px;
} */

.input {
  background: var(--color-secondary);
  border: 3px solid #b9bcd9;
  border-radius: var(--border-radius);
  color: var(--color-text);
  height: 48px;
  width: 392px;
  outline: 0;
  white-space: nowrap;
}
.input::placeholder {
  padding-left: 20px;
}

.input:hover::placeholder {
  color: var(--color-text);
}
.input:focus::placeholder {
  opacity: 0;
}

.input--center::placeholder {
  text-align: center;
}

.input--icon {
}
.input--icon > img {
}
.input--icon > input {
}

.input--big {
  height: 240px;
  width: 392px;
}

label {
  display: block;
  color: var(--color-text);
  margin-bottom: 4px;
}

.label-inline {
  display: block;
  float: left;
  clear: none;
  padding: 0px 1em 0px 8px;
}

/* Input Radio and checkboxes */

input[type="radio"] {
  float: left;
  cursor: pointer;
}
input[type="radio"]::after {
  /* filter: hue-rotate(); */
  background-color: #323347;
  border: 2px solid #fff;
  border-radius: 9px;
  height: 18px;
  width: 18px;
  content: "";
  display: inline-block;
  visibility: visible;
}
input[type="radio"]:checked:after {
  /* filter: hue-rotate(); */
  background-color: #fff;
  border: 4px solid #3643fc;
  border-radius: 9px;
  height: 18px;
  width: 18px;
  content: "";
  display: inline-block;
  visibility: visible;
}

input[type="checkbox"] {
  float: left;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid #fff;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #323347;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: #3643fc;
}

input[type="checkbox"]:checked::after {
  content: "\2713";
  font-weight: bolder;
  color: var(--color-text);
  display: block;
  text-align: center;
}

.rc--icon {
  margin-top: 5px;
  margin-right: 10px;
}

.radio-label-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-text);
}

.grp-label {
  margin-left: 40px;
}

/* Chips */
.chip {
  background: var(--color-ghost);
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 17px;
  color: var(--color-text);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  height: 32px;
  width: 135px;
  outline: 0;
  white-space: nowrap;
}

.chip:hover {
  background: rgba(255, 255, 255, 0.2);
}

.chip:focus {
  background: #4ec1f3;
  border: 2px solid #0aa4e7;
  color: rgba(0, 0, 0, 0.5);
}

.chip--big {
  font-size: 1.6rem;
  width: 202px;
}

.chip--small {
  width: 66px;
}

.chip--small::before {
  content: "\2713";
  margin-right: 4px;
}

/* Cards */
.card {
  background: #3e405b;
  border-radius: 24px;
  overflow: hidden;
  width: 289px;
  height: 117px;
}
.card2 {
  background: #161547;
  border-radius: 24px;
  width: 289px;
  overflow: hidden;
}
.footer2 {
  background: #3e405b;
  border-radius: 24px;
  font-size: 2.4rem;
  color: var(--color-text);
  padding: 2rem;
  height: 77px;
}
.card3 {
  background: #373951;
  border-radius: 24px;
  height: 280px;
  width: 495px;
  overflow: hidden;
}
.footer3 {
  background: #3e405b;
  border-radius: 24px;
  font-size: 2.4rem;
  color: var(--color-text);
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card4 {
  background: #373951;
  border-radius: 24px;
  width: 423px;
  overflow: hidden;
}
.footer4 {
  background: #3e405b;
  border-radius: 24px;
  font-size: 1.6rem;
  color: var(--color-text);
  padding: 2.4rem;
}
.footer4 p {
  margin: 3rem 0;
}
.text {
  margin: 0;
  padding: 0 2rem;
}
.parra {
  color: var(--color-text);
  font-size: 1.6rem;
  font-weight: 500;
}

/* Disclosures */
.disclosure {
  background: rgba(0, 0, 0, 0.1);
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  color: var(--color-text);
  font-size: 1.6rem;
  padding: 1.6rem;
}
.disclosure__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
}
.disclosure__heading:hover {
  background: var(--color-secondary);
  border-radius: 14px;
}
.disclosure__icon {
  transform: rotate(180deg);
  transition: transform 0.3s;
}
.disclosure__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
  padding: 1rem;
}
.disclosure--expanded .disclosure__icon {
  transform: rotate(0);
}
.disclosure--expanded .disclosure__content {
  max-height: 100%;
  opacity: 1;
}
.disclosure--expanded .disclosure__heading:hover {
  background: none;
}
